{% load custom_filters %}
{% load network_filters %}

#Policers_AltaVPNJun

{% if "-1-" in datos.vrf|strip %}

    #Policers_AltaVPNJun-AZUL

    {% if datos.bw_plus and datos.bw_plus != '0' %}

        #Policers_AltaVPNJun-AZUL-QoS

        set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o scheduler-map GX-CUST-SCHEDULER-MAP-I
        set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o shaping-rate {{ datos.bw }}m
        set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o delay-buffer-rate {{delay_buffer_rate}}
        set class-of-service interfaces {{ datos.interface_pe }} unit {{ datos.unit }} output-traffic-control-profile {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP from dscp 46
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then policer {{ datos.interface_pe }}.{{ datos.unit }}.EF-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then count EF.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then loss-priority low
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then forwarding-class EF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 32
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 34
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 36
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 38
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 40
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then policer {{ datos.interface_pe }}.{{ datos.unit }}.EF-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then count EF-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then loss-priority high
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then forwarding-class EF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 16
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 24
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 26
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 28
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then policer {{ datos.interface_pe }}.{{ datos.unit }}.AF-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then count AF.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then loss-priority low
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then forwarding-class AF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 18
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 20
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 22
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 30
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then policer {{ datos.interface_pe }}.{{ datos.unit }}.AF-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then count AF-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then loss-priority high
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then forwarding-class AF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE-DE then count BE-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE-DE then loss-priority high
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE-DE then forwarding-class BE

        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.EF-i filter-specific
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.EF-i if-exceeding bandwidth-limit {{bw_Exchange_por}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.EF-i if-exceeding burst-size-limit {{burst_size_limit_Exchange}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.EF-i then discard

        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.AF-i filter-specific
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.AF-i if-exceeding bandwidth-limit {{bw_plus_por}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.AF-i if-exceeding burst-size-limit {{burst_size_limit_plus}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.AF-i then loss-priority high
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.AF-i then forwarding-class VPN-BE

        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in logical-interface-policer
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding bandwidth-limit {{ shaping_rate }}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding burst-size-limit {{burst_size_limit}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in then discard
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out logical-interface-policer
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out if-exceeding bandwidth-limit {{ shaping_rate }}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out if-exceeding burst-size-limit {{burst_size_limit}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out then discard
    
    {% else %}

        #Policers_AltaVPNJun-AZUL-No-QoS

        set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o scheduler-map GX-CUST-SCHEDULER-MAP-I
        set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o shaping-rate {{ datos.bw }}m
        set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o delay-buffer-rate {{delay_buffer_rate}}
        set class-of-service interfaces {{ datos.interface_pe }} unit {{ datos.unit }} output-traffic-control-profile {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP from dscp 46
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then count EF.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then loss-priority low
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then forwarding-class EF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 32
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 34
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 36
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 38
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 40
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then loss-priority high
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then forwarding-class EF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 16
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 24
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 26
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 28
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then count AF.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then loss-priority low
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then forwarding-class AF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 18
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 20
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 22
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 30
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then count AF-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then loss-priority high
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then forwarding-class AF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE-DE then count BE-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE-DE then loss-priority high
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE-DE then forwarding-class BE

        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in logical-interface-policer
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding bandwidth-limit {{ shaping_rate }}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding burst-size-limit {{burst_size_limit}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in then discard
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out logical-interface-policer
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out if-exceeding bandwidth-limit {{ shaping_rate }}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out if-exceeding burst-size-limit {{burst_size_limit}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out then discard

    {% endif %}
                
{% elif "00/" in datos.vrf|strip %}

    #Pol_AltaVPNJun_Naranja

    {% if datos.bw_plus and datos.bw_plus != '0' %}

        #Pol_AltaVPNJun_Naranja_QoS

        set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o scheduler-map GX-CUST-SCHEDULER-MAP-I
        set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o shaping-rate {{ datos.bw }}m
        set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o delay-buffer-rate {{delay_buffer_rate}}
        set class-of-service interfaces {{ datos.interface_pe }} unit {{ datos.unit }} output-traffic-control-profile {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP from dscp 46
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then policer {{ datos.interface_pe }}.{{ datos.unit }}.EF-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then count EF.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then loss-priority low
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then forwarding-class EF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 32
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 34
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 36
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 38
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 40
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then policer {{ datos.interface_pe }}.{{ datos.unit }}.EF-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then count EF-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then loss-priority high
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then forwarding-class EF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 16
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 24
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 26
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 28
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then policer {{ datos.interface_pe }}.{{ datos.unit }}.AF-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then count AF.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then loss-priority low
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then forwarding-class AF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 18
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 20
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 22
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 30
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then policer {{ datos.interface_pe }}.{{ datos.unit }}.AF-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then count AF-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then loss-priority high
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then forwarding-class AF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE-DE then count BE-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE-DE then loss-priority high
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE-DE then forwarding-class BE

        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.EF-i filter-specific
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.EF-i if-exceeding bandwidth-limit {{bw_Exchange_por}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.EF-i if-exceeding burst-size-limit {{burst_size_limit_Exchange}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.EF-i then discard

        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.AF-i filter-specific
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.AF-i if-exceeding bandwidth-limit {{bw_plus_por}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.AF-i if-exceeding burst-size-limit {{burst_size_limit_plus}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.AF-i then loss-priority high
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}.AF-i then forwarding-class VPN-BE

        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in logical-interface-policer
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding bandwidth-limit {{ shaping_rate }}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding burst-size-limit {{burst_size_limit}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in then discard
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out logical-interface-policer
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out if-exceeding bandwidth-limit {{ shaping_rate }}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out if-exceeding burst-size-limit {{burst_size_limit}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out then discard
            
    {% else %}  

        #Pol_AltaVPNJun_Naranja_No-QoS

        set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o scheduler-map GX-CUST-SCHEDULER-MAP-I
        set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o shaping-rate {{ datos.bw }}m
        set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o delay-buffer-rate {{delay_buffer_rate}}
        set class-of-service interfaces {{ datos.interface_pe }} unit {{ datos.unit }} output-traffic-control-profile {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP from dscp 46
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then count EF.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then loss-priority low
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then forwarding-class EF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 32
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 34
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 36
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 38
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 40
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then loss-priority high
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then forwarding-class EF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 16
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 24
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 26
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 28
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then count AF.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then loss-priority low
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then forwarding-class AF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 18
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 20
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 22
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 30
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then count AF-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then loss-priority high
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then forwarding-class AF
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE-DE then count BE-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE-DE then loss-priority high
        set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE-DE then forwarding-class BE

        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in logical-interface-policer
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding bandwidth-limit {{ shaping_rate }}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding burst-size-limit {{burst_size_limit}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in then discard
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out logical-interface-policer
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out if-exceeding bandwidth-limit {{ shaping_rate }}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out if-exceeding burst-size-limit {{burst_size_limit}}
        set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-out then discard
        
        {% if datos.wanv6 and datos.wanv6 != '2806:281::/32' %}   

            #Pol_AltaVPNJun_Naranja_No-QoS_IPV6

            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term EF_DSCP from traffic-class  46
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term EF_DSCP then count EF.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet6-i
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term EF_DSCP then loss-priority low
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term EF_DSCP then forwarding-class EF
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term EF-DE_DSCP from traffic-class 32
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term EF-DE_DSCP from traffic-class 34
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term EF-DE_DSCP from traffic-class 36
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term EF-DE_DSCP from traffic-class 38
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term EF-DE_DSCP from traffic-class 40
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term EF-DE_DSCP then loss-priority high
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term EF-DE_DSCP then forwarding-class EF
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term AF_DSCP from traffic-class 16
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term AF_DSCP from traffic-class 24
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term AF_DSCP from traffic-class 26
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term AF_DSCP from traffic-class 28
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term AF_DSCP then count AF.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet6-i
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term AF_DSCP then loss-priority low
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term AF_DSCP then forwarding-class AF
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term AF-DE_DSCP from traffic-class 18
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term AF-DE_DSCP from traffic-class 20
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term AF-DE_DSCP from traffic-class 22
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term AF-DE_DSCP from traffic-class 30
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term AF-DE_DSCP then count AF-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet6-i
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term AF-DE_DSCP then loss-priority high
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term AF-DE_DSCP then forwarding-class AF
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term BE-DE then count BE-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet6-i
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term BE-DE then loss-priority high
            set firewall family inet6 filter {{ datos.interface_pe }}.{{ datos.unit }}-inet6-i term BE-DE then forwarding-class BE
            
        {% endif %} 
        
    {% endif %}            

{% else %}

    #Pol_AltaVPNJun_ALL

    set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o scheduler-map GX-CUST-SCHEDULER-MAP-6Q
    set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o shaping-rate {{ shaping_rate }}
    set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o delay-buffer-rate {{delay_buffer_rate}}
    set class-of-service interfaces {{ datos.interface_pe }} unit {{ datos.unit }} output-traffic-control-profile {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o
    set class-of-service interfaces {{ datos.interface_pe }} unit {{ datos.unit }} rewrite-rules ieee-802.1 XMR-I
    set class-of-service interfaces {{ datos.interface_pe }} unit {{ datos.unit }} rewrite-rules ieee-802.1 CUST-PSR->EX
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP from dscp 46
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then count EF.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then loss-priority low
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then forwarding-class EF
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 34
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then count EF-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then loss-priority high
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then forwarding-class EF-DE
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 26
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then count AF-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then loss-priority low
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then forwarding-class AF
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 18
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then count AF-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then loss-priority high
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then forwarding-class AF-DE
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term VPN-BE from dscp 10
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term VPN-BE then count VPN-BE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term VPN-BE then loss-priority high
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term VPN-BE then forwarding-class VPN-BE
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE then count BE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE then loss-priority high
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE then forwarding-class BE
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term EF_DSCP from dscp 46
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term EF_DSCP then count EF.tx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-e
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term EF-DE_DSCP from dscp 34
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term EF-DE_DSCP then count EF-DE.tx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-e
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term AF_DSCP then count AF-DE.tx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-e
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term AF-DE_DSCP from dscp 18
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term AF-DE_DSCP then count AF-DE.tx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-e
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term AF_DSCP from dscp 26
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term VPN-BE from dscp 10
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term VPN-BE then count VPN-BE.tx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-e
    set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term BE then count BE.tx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-e
    set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in logical-interface-policer
    set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding bandwidth-limit {{ shaping_rate }}
    set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding burst-size-limit {{burst_size_limit}}
    set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in then discard
    set routing-instances {{ datos.vrf }} interface {{ datos.interface_pe }}.{{ datos.unit }}   

{% endif %}    