<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CRUD PE{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="{% static 'js/crud.js' %}"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="titulo">{% block header %}CRUD PE{% endblock %}</h1>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>© 2024 CECU</p>
        </footer>
    </div>
</body>
</html>
