<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>capturar_datos</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .fixed-info {
            position: fixed;
            top: 10px;
            left: 10px;
            width: 300px;
            background-color: #f9f9f9;
            padding: 10px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            z-index: 1000;
        }
        .floating-links {
            position: fixed;
            top: 10px;
            right: 10px;
            background-color: #f9f9f9;
            padding: 10px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            z-index: 1000;
        }
        .floating-links a {
            display: block;
            margin-bottom: 5px;
        }
    </style>
    <script src="{% static 'js/crud.js' %}"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            const cfsInput = document.getElementById('id_cfs');
            const dkoInput = document.getElementById('id_dko');
            const clienteInput = document.getElementById('id_cliente');
            const sedeInput = document.getElementById('id_sede');

            const cfsDisplay = document.getElementById('cfs-display');
            const dkoDisplay = document.getElementById('dko-display');
            const clienteDisplay = document.getElementById('cliente-display');
            const sedeDisplay = document.getElementById('sede-display');

            function updateDisplay() {
                cfsDisplay.textContent = cfsInput.value;
                dkoDisplay.textContent = dkoInput.value;
                clienteDisplay.textContent = clienteInput.value;
                sedeDisplay.textContent = sedeInput.value;
            }

            cfsInput.addEventListener('input', updateDisplay);
            dkoInput.addEventListener('input', updateDisplay);
            clienteInput.addEventListener('input', updateDisplay);
            sedeInput.addEventListener('input', updateDisplay);

            updateDisplay(); // Initialize display with current values
        });

        function ejecutarIPSA() {
            console.log("Evento blur activado en CFS - capturar_datos.html 66:"); // Mensaje de consola
            var cfsValue = document.getElementById('id_cfs').value;
            console.log("Ejecutando IPSA.py con CFS - capturar_datos.html 68:", cfsValue); // Mensaje de consola
            fetch(`/ejecutar_ipsa/?cfs=${cfsValue}`)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log(`interface_sw: ${data.data.interface_sw}`);

                        console.log("IPSA.py ejecutado - correctamente capturar_datos.html 73:"); // Mensaje de éxito
                        console.log("Salida del script - capturar_datos.html 74:", data.data); // Mostrar la salida del script
                        document.getElementById('id_asn').value = data.data.asn;
                        document.getElementById('id_be').value = data.data.be;
                        document.getElementById('id_bw').value = data.data.bw;
                        document.getElementById('id_bw_exchange').value = data.data.bw_exchange;
                        document.getElementById('id_bw_plus').value = data.data.bw_plus;
                        document.getElementById('id_bw_video').value = data.data.video;
                        document.getElementById('id_bw_voz').value = data.data.voz;
                        document.getElementById('id_bundle_ether').value = data.data.be;
                        document.getElementById('id_cfs').value = data.data.cfs;
                        document.getElementById('id_cliente').value = data.data.cliente;
                        document.getElementById('id_cv').value = data.data.cvlan;
                        document.getElementById('id_dko').value = data.data.dko;
                        document.getElementById('id_interface_pe').value = data.data.interface_pe;
                        document.getElementById('id_interface_pe_b').value = data.data.interface_pe_b;
                        document.getElementById('id_interface_sw').value = data.data.interface_sw;
                        document.getElementById('id_lag').value = data.data.lag;
                        document.getElementById('id_lbcpe').value = data.data.lbcpe;
                        document.getElementById('id_lnnid').value = data.data.lnnid;
                        document.getElementById('id_pe').value = data.data.pe;
                        document.getElementById('id_pe_b').value = data.data.pe_b;
                        document.getElementById('id_rfs_ip_port').value = data.data.rfs_ip_port;
                        document.getElementById('id_rfs_ip_port_b').value = data.data.rfs_ip_port_punta_z;
                        document.getElementById('id_rfs_ip_port_nid').value = data.data.rfs_ip_port_nid;
                        document.getElementById('id_sede').value = data.data.sede;
                        document.getElementById('id_sede_b').value = data.data.sede_b;
                        document.getElementById('id_sv').value = data.data.svlan;
                        document.getElementById('id_sw').value = data.data.sw;
                        document.getElementById('id_tipo_configuracion').value = data.data.tipo_configuracion;
                        document.getElementById('id_tipo_equipo').value = data.data.tipo_equipo;
                        document.getElementById('id_tipo_servicio').value = data.data.tipo_servicio;
                        document.getElementById('id_unit').value = data.data.svlan;
                        document.getElementById('id_vrf').value = data.data.vrf;
                        document.getElementById('id_vrf_init').value = data.data.vrf_init;
                        document.getElementById('id_vt').value = data.data.vlan;
                        document.getElementById('id_wan').value = data.data.wan;
                        document.getElementById('id_wanv6').value = data.data.wanv6;



                        
                        
                    } else {
                        console.error("Error al ejecutar IPSA.py:", data.error); // Mensaje de error
                    }
                })
                .catch(error => {
                    console.error('Error:', error); // Mensaje de error
                });
        }

    </script>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="titulo">CRUD PE</h1>
        </header>
        <main>
            <div class="floating-links">
                <a href="http://deliveryconsole/pdetailsearch.asp" target="_blank">Ir a Delivery Console</a>
                <a href="http://ximelat/" target="_blank">Ir a Xime Metro2</a>
                <a href="http://4.74.133.173:8080/logon.aspx" target="_blank">Ir a Xime Metro3</a>
                <a href="http://xicpe/select.aspx" target="_blank">Ir a CRUD xicpe</a>
                <a href="https://myworkspace.ctlaccess.centurylink.com" target="_blank">Ir a Level3</a>
                <a href="https://netbox-cirex.ciriontechnologies.com/login/?next=/extras/changelog/" target="_blank">Ir a netbox</a>
                <a href="https://mxtoolbox.com/SuperTool.aspx?action=blacklist%3a204.199.94.42&run=toolpage" target="_blank">Ir a blacklist2</a>
                <a href="https://www.spamrats.com/index.php" target="_blank">Ir a blacklist1</a>
                <a href="http://searchnodeslat.lat.intranet/" target="_blank">Ir a CLLI</a>
                <a href="http://127.0.0.1:8000/pais_mercado_nodo/" target="_blank">Ir a P2P</a>
                <a href="https://rap.ciriontechnologies.com/Citrix/StoreWeb/#/home" target="_blank">Ir a Citrix Cirion</a>
                <a href="http://127.0.0.1:8000/myapp/buscar_vrf_page/" target="_blank">Ir a VRF</a>

            </div>
            
            <div class="fixed-info">
                <h3>Información Fija</h3>
                <div class="form-group">
                    <label for="id_cfs">Cfs:</label>
                    <span id="cfs-display"></span>
                </div>
                <div class="form-group">
                    <label for="id_dko">DKO:</label>
                    <span id="dko-display"></span>
                </div>
                <div class="form-group">
                    <label for="id_cliente">Cliente:</label>
                    <span id="cliente-display"></span>
                </div>
                <div class="form-group">
                    <label for="id_sede">Sede:</label>
                    <span id="sede-display"></span>
                </div>
            </div>
            
            <form method="post" onsubmit="return validateForm(event)">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="id_cfs">Cfs:</label>
                    <input type="text" name="cfs" id="id_cfs" class="form-control">
                    <div id="error-message" aria-live="assertive"></div>
                    <button type="button" onclick="ejecutarIPSA()">Buscar en DKO</button>
                    <button type="button" onclick="buscarCfs()">Buscar</button>
                    <button type="button" onclick="limpiarCampos()">Limpiar</button>
                    <button class="datos-button" onclick="window.location.href='{% url 'datos' %}'" aria-label="Regresar">Limpiar</button>
                </div>
                
                <div id="record-selection" style="display: none;">
                    <label for="record-select">Seleccione un registro:</label>
                    <select id="record-select" onchange="fillForm(this.value)">
                        <!-- Opciones se llenarán dinámicamente -->
                    </select>
                </div>
                {{ form.as_p }}
                <button type="button" onclick="concatenar()">Concatenar</button><br>
                <button type="button" onclick="concatenar_b()">Concatenar_b</button><br>
                <input type="hidden" id="rs-sw-be" name="rs-sw-be" value=""><br>
                <input type="hidden" id="rs-sw-be_b" name="rs-sw-be_b" value=""><br>
                <input type="hidden" id="rs-tipo-servicio-sw" name="rs-tipo-servicio-sw" value="">
                <button type="submit" aria-label="Enviar Formulario">Enviar</button>
            </form>
            <div id="search-result"></div>
            <h2>Buscar en CSV</h2>
            <form id="csv-search-form">
                <label for="search-term">Buscar:</label>
                <input type="text" id="search-term" name="search-term" class="form-control">
                <button type="button" onclick="buscarEnCSV()">Buscar</button>
            </form>
        </main>
        <footer>
            <p>© 2024 CECU</p>
        </footer>
    </div>
</body>
</html>