<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CRUD PE</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="{% static 'js/crud.js' %}"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="titulo">CRUD PE</h1>
        </header>
        <main>
            <a href="http://deliveryconsole/pdetailsearch.asp" target="_blank">Ir a Delivery Console</a><br>
            <a href="http://ximelat/" target="_blank">Ir a Xime Metro2</a><br>
            <a href="http://4.74.133.173:8080/logon.aspx" target="_blank">Ir a Xime Metro3</a><br>
            <a href="http://xicpe/select.aspx" target="_blank">Ir a CRUD xicpe</a><br>
            <a href="https://myworkspace.ctlaccess.centurylink.com" target="_blank">Ir a  Level3</a><br>
            <a href="https://netbox-cirex.ciriontechnologies.com/login/?next=/extras/changelog/" target="_blank">Ir a netbox</a><br>
            <a href="https://mxtoolbox.com/SuperTool.aspx?action=blacklist%3a204.199.94.42&run=toolpage" target="_blank">Ir a blacklist2</a><br>
            <a href="https://www.spamrats.com/index.php" target="_blank">Ir a blacklist1</a><br>

            <form method="post" onsubmit="return validateForm(event)">
                {% csrf_token %}
                <div>
                    <label for="id_cfs">Cfs:</label>
                    <input type="text" name="cfs" id="id_cfs" class="form-control">
                    <div id="error-message" aria-live="assertive"></div>
                    <button type="button" onclick="buscarCfs()">Buscar</button>
                    <button type="button" onclick="limpiarCampos()">Limpiar</button>
                </div>

                <div id="record-selection" style="display: none;">
                    <label for="record-select">Seleccione un registro:</label>
                    <select id="record-select" onchange="fillForm(this.value)">
                        <!-- Opciones se llenarán dinámicamente -->
                    </select>
                </div>
                {{ form.as_p }}
                <button type="button" onclick="concatenar()">Concatenar</button><br>
                <button type="button" onclick="concatenar_b()">Concatenar_b</button><br>
                <input type="hidden" id="rs-sw-be" name="rs-sw-be" value=""><br>
                <input type="hidden" id="rs-sw-be_b" name="rs-sw-be_b" value=""><br>

                <button type="submit" aria-label="Enviar Formulario">Enviar</button>

            </form>
            <div id="search-result"></div>
            <h2>Buscar en CSV</h2>
            <form id="csv-search-form">
                <label for="search-term">Buscar:</label>
                <input type="text" id="search-term" name="search-term" class="form-control">
                <button type="button" onclick="buscarEnCSV()">Buscar</button>
            </form>

        </main>
        <footer>
            <p>© 2024 CECU</p>
        </footer>
    </div>
</body>
</html>
