<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Datos Guardados</title>
        <script>
            function multiplicarValores() {
                var shapingRate = {{ shaping_rate }};
                var puertosLag = {{ datos.puertos_lag }};
                var resultado = shapingRate * puertosLag;
                var bw_plus_por = {{bw_plus_por}}
                document.getElementById("resultado").innerText = "El resultado es: " + resultado;
            }

            function generarTxt() {
                var textAreaContent = document.getElementById("dataTextArea").value;
                var blob = new Blob([textAreaContent], { type: "text/plain;charset=utf-8" });
                var link = document.createElement("a");
                link.href = URL.createObjectURL(blob);
                link.download = "datos.txt";
                link.click();
            }
        </script>
        {% load static %}  <!-- Cargar la etiqueta static -->
        {% load custom_filters %}

        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lato:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header>
                <h1 class="titulo">Datos Guardados</h1>
                <p>El valor de num_puertos_lag es: {{ form.lag.value }} </p>
                <p>El nuero del puerto lag es: {{num_puertos_lag}}</p>
            </header>
            <main>
                <a href="http://deliveryconsole/pdetailsearch.asp" target="_blank">Ir a Delivery Console</a><br>
                <a href="http://ximelat/" target="_blank">Ir a Xime Metro2</a><br>
                <a href="http://4.74.133.173:8080/logon.aspx" target="_blank">Ir a Xime Metro3</a><br>
                <a href="http://xicpe/select.aspx" target="_blank">Ir a CRUD xicpe</a><br>
                <a href="https://myworkspace.ctlaccess.centurylink.com" target="_blank">Ir a Level3</a><br>
                <a href="https://netbox-cirex.ciriontechnologies.com/login/?next=/extras/changelog/" target="_blank">Ir a netbox</a><br>
                <a href="https://mxtoolbox.com/SuperTool.aspx?action=blacklist%3a204.199.94.42&run=toolpage" target="_blank">Ir a blacklist2</a><br>
                <a href="https://www.spamrats.com/index.php" target="_blank">Ir a blacklist1</a><br>
                <a href="http://searchnodeslat.lat.intranet/" target="_blank">Ir a CLLI</a><br>
                <a href="http://127.0.0.1:8000/pais_mercado_nodo/" target="_blank">Ir a P2P</a><br>
                <a href="https://rap.ciriontechnologies.com/Citrix/StoreWeb/#/home" target=_blank">Ir a Citrix Cirion</a><br>

                {% load network_filters %}
                <div class="copy-box">
                    <button class="datos-button" onclick="generateAllTxt()" aria-label="Generar Todos los TXT">Generar Todos los TXT</button>
                    <button class="datos-button" onclick="window.location.href='{% url 'datos' %}'" aria-label="Regresar">Regresar</button>


                    <div class="title">Datos del Cliente</div>
                    <textarea id="dataTextArea" class="datos-textarea" readonly>
                        {% if datos.cfs %}CFS: {{ datos.cfs }}{% endif %}
                        {% if datos.dko %}DKO: {{ datos.dko }}{% endif %}
                        {% if datos.tipo_configuracion %}tipo_configuracion: {{ datos.tipo_configuracion }}{% endif %}
                        {% if datos.tipo_equipo %}tipo_servicio: {{ datos.tipo_equipo }}{% endif %}
                        {% if datos.tipo_servicio %}tipo_servicio: {{ datos.tipo_servicio }}{% endif %}
                        {% if datos.cliente %}Cliente: {{ datos.cliente }}{% endif %}
                        {% if datos.sede %}SEDE: {{ datos.sede }}{% endif %}
                        {% if datos.sede_b %}SEDE_B: {{ datos.sede_b }}{% endif %}
                        {% if datos.rfs_ip_port %}RFS-IP-PORT: {{ datos.rfs_ip_port }}{% endif %}
                        {% if datos.rfs_ip_port_b %}RFS-IP-PORT_B: {{ datos.rfs_ip_port_b }}{% endif %}
                        {% if datos.rfs_ip_port_nid %}RFS-IP-PORT_NID: {{ datos.rfs_ip_port_nid }}{% endif %}
                        {% if datos.vt %}Vlan Tercero: {{ datos.vt }}{% endif %}      
                        {% if datos.sw and datos.sw != 'Conectado a PE' %}SW: {{ datos.sw }}{% endif %}
                        {% if datos.interface_sw %}Interface SW: {{ datos.interface_sw }}{% endif %}
                        {% if datos.bw and datos.bw != '0' %}BW: {{ datos.bw }}M{% endif %}
                        {% if datos.bw_plus and datos.bw_plus != '0' %}BW_plus: {{ datos.bw_plus }}M{% endif %}
                        {% if datos.bw_exchange and datos.bw_exchange != '0' %}BW: {{ datos.bw_exchange }}M{% endif %}
                        {% if datos.bw_voz and datos.bw_voz != '0' %}BW: {{ datos.bw_voz }}M{% endif %}
                        {% if datos.bw_video and datos.bw_video != '0' %}BW: {{ datos.bw_video }}M{% endif %}
                        {% if datos.sw_b %}SW_B: {{ datos.sw_b }}{% endif %}
                        {% if datos.interface_sw_b %}Interface SW_B: {{ datos.interface_sw_b }}{% endif %}
                        {% if datos.sv == datos.cv and  datos.unit_b %}Vlan: {{ datos.sv }}{% endif %}
                        {% if datos.sv != datos.cv %}Svlan: {{ datos.sv }}{% endif %}
                        {% if datos.sv != datos.cv %}Cvlan: {{ datos.cv }}{% endif %}
                        {% if datos.sv_b == datos.cv_b and  datos.unit_b %}Vlan_B: {{ datos.sv_b }}{% endif %}
                        {% if datos.sv_b != datos.cv_b %}Slan_B: {{ datos.sv_b }}{% endif %}
                        {% if datos.sv_b != datos.cv_b %}Clan_B: {{ datos.cv_b }}{% endif %}
                        {% if datos.vrf %}VRF: {{ datos.vrf }}{% endif %}
                        {% if datos.rd %}RD: {{ datos.rd }}{% endif %}
                        {% if datos.vrf2 %}VRF: {{ datos.vrf2 }}{% endif %}
                        {% if datos.rd2 %}RD: {{ datos.rd2 }}{% endif %}
                        {% if datos.asn %}ASN: {{ datos.asn }}{% endif %}
                        {% if datos.wan and datos.wan != '0.0.0.0/0' %}WAN: {{ datos.wan }}{% endif %}
                        {% if datos.wanv6 and datos.wanv6 != '::/0' %}WANIPv6: {{ datos.wanv6 }}{% endif %}
                        {% if datos.lan and datos.lan != '0.0.0.0/0' %}LANIPv4: {{ datos.lan }}{% endif %}
                        {% if datos.lanv6 %}LANIPv6: {{ datos.lanv6 }}{% endif %}
                        {% if datos.lbcpe %}LB CPE: {{ datos.lbcpe }}{% endif %} 
                        {% if datos.lnnid %}LB NID: {{ datos.lnnid }}{% endif %}  
                        {% if datos.pe %}PE: {{ datos.pe }}{% endif %}
                        {% if "mesc20.baq.baq" in datos.sw|strip %}Interface PE: {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }}
                        Interface PE_VPLS_A: {{ datos.interface_pe_vpls_a }}.{{ datos.cv }}
                        Interface PE_VPLS_B: {{ datos.interface_pe_vpls_b }}.{{ datos.cv }}
                        {% elif datos.sv and  datos.tipo_equipo == 'ALCATEL' or datos.tipo_equipo == 'ALCATEL_V' %}Interface PE: {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}
                        {% else %}Interface PE: {{ datos.interface_pe }}.{{ datos.unit }}{% endif %}
                        {% if datos.pe_b %}PE_B: {{ datos.pe_b }}{% endif %}
                        {% if datos.pe_vpls_a %}PE_VPLS_A: {{ datos.pe_vpls_a }}{% endif %}
                        {% if datos.pe_vpls_b %}PE_VPLS_B: {{ datos.pe_vpls_b }}{% endif %}                        
                        {% if datos.unit_nid and  datos.tipo_equipo == 'ALCATEL' or datos.tipo_equipo == 'ALCATEL_V' %}Interface NID: {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.unit_nid }}
                        {% else %}
                        {% if datos.unit_nid and datos.unit_nid != "" %}Interface NID: {{ datos.interface_pe }}.{{ datos.unit_nid }} {% endif %}
                        {% endif %}
                      
                        
                        
                                            
                        
                        {% if datos.pe_b %}PE_B: {{ datos.pe_b }}{% endif %}
                        {% if datos.interface_pe_b %}Interface PE_B: {{ datos.interface_pe_b }}.{{datos.unit_b }}{% endif %}
                       
                    </textarea>
                    <div class="button-container">
                        <button class="datos-button" onclick="copyToClipboard('dataTextArea')" aria-label="Copiar Datos">Copiar Datos</button>
                        <button class="datos-button" onclick="generarTxt()" aria-label="Generar TXT">Generar TXT</button>
                    
                    </div>
                </div>

                <div class="copy-box">                
                    <div class="title">Comandos Previos</div>
                    <textarea id="commandsTextArea" class="datos-textarea" readonly>
                        {% if datos.tipo_configuracion  == "Ampliacion" and datos.tipo_servicio == "VPLS" %}
                            {% include 'myapp/Previos/PreviosampandVPLS.html' %}
                        {% elif datos.tipo_configuracion == "Modificacion"  and datos.tipo_servicio == "VPN" %}
                            {% include 'myapp/Previos/PreviosModandVPN.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPLS" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Previos/PreviosAltaVPLSJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Previos/PreviosAmpliacionVPNJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Previos/PreviosAmpliacionADIJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL" %}
                            {% include 'myapp/Previos/PreviosAmpliacionADIAlcatel.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Previos/PreviosAltaADIJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL" %}
                            {% include 'myapp/Previos/PreviosAltaADIAlcatel.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL_V" %}
                            {% include 'myapp/Previos/PreviosAltaADIAlcatelV.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Previos/PreviosAltaVPNJuniper.html' %}
                        {% else %}
                            ###No se cumple ninguna condición para Comandos.
                        {% endif %}

                    </textarea>
                    <div class="button-container">
                        <button class="datos-button" onclick="copyToClipboard('commandsTextArea')" aria-label="Copiar Comandos">Copiar Comandos</button>
                        <button class="datos-button" onclick="generateTxtFile()" aria-label="Generar TXT">Generar</button>
                    </div>
                </div>
                
                <script>
                function copyToClipboard(elementId) {
                    var copyText = document.getElementById(elementId);
                    copyText.select();
                    document.execCommand("copy");
                }
                
                function generateTxtFile() {
                    var textAreaContent = document.getElementById('commandsTextArea').value;
                    var lines = textAreaContent.split('\n');
                    var trimmedLines = lines.map(line => line.trimStart());
                    var trimmedContent = trimmedLines.join('\n');
                    var blob = new Blob([trimmedContent], { type: "text/plain;charset=utf-8" });
                    var link = document.createElement("a");
                    link.href = URL.createObjectURL(blob);
                    link.download = "commands.txt";
                    link.click();
                }
                </script>
                
                
                <div class="copy-box">
                    <div class="title">Configuración de la Interfaz</div>
                    <textarea id="newCommandsTextArea" class="datos-textarea" readonly>
                        
                        {% if datos.tipo_configuracion ==  "Ampliacion" and datos.tipo_servicio == "VPLS" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Interfaz/InterfazampandVPLS.html' %}
                        {% elif datos.tipo_configuracion == "Modificacion" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Interfaz/InterfazModandVPN.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPLS" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Interfaz/InterfazAltaVPLSJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Interfaz/InterfazAmpliacionVPNJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Interfaz/InterfazAmpliacionADIJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL" %}
                            {% include 'myapp/Interfaz/InterfazAmpliacionADIAlcatel.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Interfaz/InterfazAltaADIJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL" %}
                            {% include 'myapp/Interfaz/InterfazAltaADIAlcatel.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL_V" %}
                            {% include 'myapp/Interfaz/InterfazAltaADIAlcatelV.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Interfaz/InterfazAltaVPNJuniper.html' %}
                        {% else %}
                            ###No se cumple ninguna condición para Comandos.
                        {% endif %}

                        
                    </textarea>
                    <div class="button-container">
                        <button class="datos-button" onclick="copyToClipboard('newCommandsTextArea')" aria-label="Copiar Nuevos Comandos">Copiar Nuevos Comandos</button>
                        <button class="datos-button" onclick="generateTxt('newCommandsTextArea')" aria-label="Generar TXT">Generar TXT</button>

                    </div>
                </div>
                <div class="copy-box">
                    <div class="title">Policers</div>
                    <textarea id="policersTextArea" class="datos-textarea" readonly>
                        
                        {% if datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "VPLS" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Policers/PolicersampandVPLS.html' %}
                        {% elif datos.tipo_configuracion == "Modificacion"  and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Policers/PolicersModandVPN.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPLS" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Policers/PolicersAltaVPLSJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Policers/PolicersAmpliacionVPNJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Policers/PolicersAmpliacionADIJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL" %}
                            {% include 'myapp/Policers/PolicersAmpliacionADIAlcatel.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Policers/PolicersAltaADIJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL" %}
                            {% include 'myapp/Policers/PolicersAltaADIAlcatel.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL_V" %}
                            {% include 'myapp/Policers/PolicersAltaADIAlcatelV.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/Policers/PolicersAltaVPNJuniper.html' %}
                        {% else %}
                            ###No se cumple ninguna condición para Comandos.
                        {% endif %}

                    </textarea>
                    <div class="button-container">
                        <button class="datos-button" onclick="copyToClipboard('policersTextArea')" aria-label="Copiar Policers">Copiar Policers</button>
                        <button class="datos-button" onclick="generatePolicerTxt('policersTextArea')" aria-label="Generar Policer">Generar Policer</button>



                    </div>
                </div>
                <div class="copy-box">
                    <div class="title">Bgp</div>
                    <textarea id="BgpTextArea" class="datos-textarea" readonly>

                        {% if datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "VPLS" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/BGP/BGPampandVPLS.html' %}
                        {% elif datos.tipo_configuracion == "Modificacion" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/BGP/BGPModandVPN.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPLS" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/BGP/BGPAltaVPLSJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/BGP/BGPAmpliacionVPNJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/BGP/BGPAmpliacionADIJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL" %}
                            {% include 'myapp/BGP/BGPAmpliacionADIAlcatel.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/BGP/BGPAltaADIJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL" %}
                            {% include 'myapp/BGP/BGPAltaADIAlcatel.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL_V" %}
                            {% include 'myapp/BGP/BGPAltaADIAlcatelV.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/BGP/BGPAltaVPNJuniper.html' %}
                        {% else %}
                            ###No se cumple ninguna condición para Comandos.
                        {% endif %}

                    </textarea>
                    <div class="button-container">
                        <button class="datos-button" onclick="copyToClipboard('BgpTextArea')" aria-label="Copiar Bgp">Copiar Bgp</button>
                        <button class="datos-button" onclick="generateBgpTxt('BgpTextArea')" aria-label="Generar BGP">Generar BGP</button>


                    </div>
                </div>
                <div class="copy-box">
                    <div class="title">VRF</div>
                    <textarea id="VRFTextArea" class="datos-textarea" readonly>

                        {% if datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "VPLS" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/VRF/VRFampandVPLS.html' %}
                        {% elif datos.tipo_configuracion == "Modificacion"  and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/VRF/VRFModandVPN.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPLS" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/VRF/VRFAltaVPLSJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/VRF/VRFAmpliacionVPNJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/VRF/VRFAmpliacionADIJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL" %}
                            {% include 'myapp/VRF/VRFAmpliacionADIAlcatel.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/VRF/VRFAltaADIJuniper.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL" %}
                            {% include 'myapp/VRF/VRFAltaADIAlcatel.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL_V" %}
                            {% include 'myapp/VRF/VRFAltaADIAlcatelV.html' %}
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            {% include 'myapp/VRF/VRFAltaVPNJuniper.html' %}
                        {% else %}
                            ###No se cumple ninguna condición para Comandos.
                        {% endif %}

                    </textarea>
                    <div class="button-container">
                        <button class="datos-button" onclick="copyToClipboard('VRFTextArea')" aria-label="Copiar VRF">Copiar VRF</button>
                        <button class="datos-button" onclick="generateVrfTxt('VRFTextArea')" aria-label="Generar VRF">Generar VRF</button>
                        <button class="datos-button" onclick="window.location.href='{% url 'datos' %}'" aria-label="Regresar">Regresar</button>

                    </div>
                    <script>
                        <script>
                            function copyToClipboard(elementId) {
                                var copyText = document.getElementById(elementId);
                                copyText.select();
                                document.execCommand("copy");
                            }
                            
                            function generateTxt(elementId) {
                                var text = document.getElementById(elementId).value;
                                var trimmedText = text.split('\n').map(line => line.trimStart()).join('\n');
                                var blob = new Blob([trimmedText], { type: "text/plain;charset=utf-8" });
                                var link = document.createElement("a");
                                link.href = URL.createObjectURL(blob);
                                link.download = elementId + ".txt";
                                link.click();
                            }
                            
                            function generatePolicerTxt(elementId) {
                                var text = document.getElementById(elementId).value;
                                var trimmedText = text.split('\n').map(line => line.trimStart()).join('\n');
                                var blob = new Blob([trimmedText], { type: "text/plain;charset=utf-8" });
                                var link = document.createElement("a");
                                link.href = URL.createObjectURL(blob);
                                link.download = elementId + "_policer.txt";
                                link.click();
                            }
                            
                            function generateBgpTxt(elementId) {
                                var text = document.getElementById(elementId).value;
                                var trimmedText = text.split('\n').map(line => line.trimStart()).join('\n');
                                var blob = new Blob([trimmedText], { type: "text/plain;charset=utf-8" });
                                var link = document.createElement("a");
                                link.href = URL.createObjectURL(blob);
                                link.download = elementId + "_bgp.txt";
                                link.click();
                            }
                            
                            function generateVrfTxt(elementId) {
                                var text = document.getElementById(elementId).value;
                                // Eliminar espacios al inicio de cada línea
                                var trimmedText = text.split('\n').map(line => line.trimStart()).join('\n');
                                var blob = new Blob([trimmedText], { type: "text/plain;charset=utf-8" });
                                var link = document.createElement("a");
                                link.href = URL.createObjectURL(blob);
                                link.download = elementId + "_vrf.txt";
                                link.click();
                            }
                            
                            function generateAllTxt() {
                                var textareas = document.querySelectorAll('.datos-textarea');
                                var allText = '';
                                textareas.forEach(function(textarea) {
                                    var trimmedText = textarea.value.split('\n').map(line => line.trimStart()).join('\n');
                                    allText += trimmedText + '\n';
                                });
                                var blob = new Blob([allText], { type: "text/plain;charset=utf-8" });
                                var link = document.createElement("a");
                                link.href = URL.createObjectURL(blob);
                                link.download = "all_textareas.txt";
                                link.click();
                            }
                            </script>
                            
                    </div>
                </div>
                <div class="button-container">
                </div>
            </main>
        </div>
        
        JavaScript

        <script>
            function copyToClipboard(elementId) {
                var copyText = document.getElementById(elementId);
                copyText.select();
                document.execCommand("copy");
            }
            
            function generateTxt(elementId) {
                var text = document.getElementById(elementId).value;
                // Eliminar espacios al inicio de cada línea
                var trimmedText = text.split('\n').map(line => line.trimStart()).join('\n');
                // Eliminar todos los saltos de línea en blanco
                var cleanedText = trimmedText.replace(/(\n\s*\n)+/g, '\n');
                var blob = new Blob([cleanedText], { type: "text/plain;charset=utf-8" });
                var link = document.createElement("a");
                link.href = URL.createObjectURL(blob);
                link.download = elementId + ".txt";
                link.click();
            }
            
            function generatePolicerTxt(elementId) {
                var text = document.getElementById(elementId).value;
                // Eliminar espacios al inicio de cada línea
                var trimmedText = text.split('\n').map(line => line.trimStart()).join('\n');
                // Eliminar todos los saltos de línea en blanco
                var cleanedText = trimmedText.replace(/(\n\s*\n)+/g, '\n');
                var blob = new Blob([cleanedText], { type: "text/plain;charset=utf-8" });
                var link = document.createElement("a");
                link.href = URL.createObjectURL(blob);
                link.download = elementId + "_policer.txt";
                link.click();
            }
            
            function generateBgpTxt(elementId) {
                var text = document.getElementById(elementId).value;
                // Eliminar espacios al inicio de cada línea
                var trimmedText = text.split('\n').map(line => line.trimStart()).join('\n');
                // Eliminar todos los saltos de línea en blanco
                var cleanedText = trimmedText.replace(/(\n\s*\n)+/g, '\n');
                var blob = new Blob([cleanedText], { type: "text/plain;charset=utf-8" });
                var link = document.createElement("a");
                link.href = URL.createObjectURL(blob);
                link.download = elementId + "_bgp.txt";
                link.click();
            }
            
            function generateVrfTxt(elementId) {
                var text = document.getElementById(elementId).value;
                // Eliminar espacios al inicio de cada línea
                var trimmedText = text.split('\n').map(line => line.trimStart()).join('\n');
                // Eliminar todos los saltos de línea en blanco
                var cleanedText = trimmedText.replace(/(\n\s*\n)+/g, '\n');
                var blob = new Blob([cleanedText], { type: "text/plain;charset=utf-8" });
                var link = document.createElement("a");
                link.href = URL.createObjectURL(blob);
                link.download = elementId + "_vrf.txt";
                link.click();
            }
            
            function generateAllTxt() {
                var textareas = document.querySelectorAll('.datos-textarea');
                var allText = '';

                // Obtener la fecha actual y formatearla
                var today = new Date();
                var formattedDate = today.getFullYear() + '-' + (today.getMonth() + 1).toString().padStart(2, '0') + '-' + today.getDate().toString().padStart(2, '0');
                
                var cfs = {{datos.cfs}} + "_" + formattedDate + ".txt";// Define el nombre del archivo aquí

                textareas.forEach(function(textarea) {
                    // Eliminar espacios al inicio de cada línea
                    var trimmedText = textarea.value.split('\n').map(line => line.trimStart()).join('\n');
                    // Eliminar todos los saltos de línea en blanco
                    var cleanedText = trimmedText.replace(/(\n\s*\n)+/g, '\n');
                    allText += cleanedText + '\n';
                });
                var blob = new Blob([allText], { type: "text/plain;charset=utf-8" });
                var link = document.createElement("a");
                link.href = URL.createObjectURL(blob);
                link.download = cfs;
                link.click();
            }
            </script>
            
    </body>
</html>
