<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Datos Guardados</title>
        <script>
            function multiplicarValores() {
                var shapingRate = {{ shaping_rate }};
                var puertosLag = {{ datos.puertos_lag }};
                var resultado = shapingRate * puertosLag;
                document.getElementById("resultado").innerText = "El resultado es: " + resultado;
            }
        </script>
        {% load static %}  <!-- Cargar la etiqueta static -->
        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lato:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header>
                <h1 class="titulo">Datos Guardados</h1>
            </header>
            <main>
                <a href="http://deliveryconsole/pdetailsearch.asp" target="_blank">Ir a Delivery Console</a><br>
                <a href="http://ximelat/" target="_blank">Ir a Xime Metro2</a><br>
                <a href="http://4.74.133.173:8080/logon.aspx" target="_blank">Ir a Xime Metro3</a><br>
                <a href="http://xicpe/select.aspx" target="_blank">Ir a CRUD xicpe</a><br>
                <a href="https://myworkspace.ctlaccess.centurylink.com" target="_blank">Ir a  Level3</a><br>
                <a href="https://netbox-cirex.ciriontechnologies.com/login/?next=/extras/changelog/" target="_blank">Ir a netbox</a><br>
                <a href="https://mxtoolbox.com/SuperTool.aspx?action=blacklist%3a204.199.94.42&run=toolpage" target="_blank">Ir a blacklist2</a><br>
                <a href="https://www.spamrats.com/index.php" target="_blank">Ir a blacklist1</a><br>
                
                {% load network_filters %}
                <div class="copy-box">
                    <div class="title">Datos del Cliente</div>
                    <textarea id="dataTextArea" class="datos-textarea" readonly>
                        {% if datos.cfs %}CFS: {{ datos.cfs }}{% endif %}
                        {% if datos.dko %}DKO: {{ datos.dko }}{% endif %}
                        {% if datos.tipo_configuracion %}tipo_configuracion: {{ datos.tipo_configuracion }}{% endif %}
                        {% if datos.tipo_servicio %}tipo_servicio: {{ datos.tipo_servicio }}{% endif %}
                        {% if datos.rfs_ip_port %}RFS-IP-PORT: {{ datos.rfs_ip_port }}{% endif %}
                        {% if datos.rfs_ip_port_b %}RFS-IP-PORT_B: {{ datos.rfs_ip_port_b }}{% endif %}
                        {% if datos.cliente %}Cliente: {{ datos.cliente }}{% endif %}
                        {% if datos.sede %}SEDE: {{ datos.sede }}{% endif %}
                        {% if datos.sede_b %}SEDE_B: {{ datos.sede_b }}{% endif %}
                        {% if datos.sw %}SW: {{ datos.sw }}{% endif %}
                        {% if datos.interface_sw %}Interface SW: {{ datos.interface_sw }}{% endif %}
                        {% if datos.pe %}PE: {{ datos.pe }}{% endif %}
                        {% if datos.interface_pe %}Interface PE: {{ datos.interface_pe }}.{{ datos.unit }}{% endif %}
                        {% if datos.sw_b %}SW_B: {{ datos.sw_b }}{% endif %}
                        {% if datos.interface_sw_b %}Interface SW_B: {{ datos.interface_sw_b }}{% endif %}
                        {% if datos.pe_b %}PE_B: {{ datos.pe_b }}{% endif %}
                        {% if datos.interface_pe_b %}Interface PE_B: {{ datos.interface_pe_b }}{% endif %}
                        {% if datos.vrf %}VRF: {{ datos.vrf }}{% endif %}
                        {% if datos.rd %}RD: {{ datos.rd }}{% endif %}
                        {% if datos.unit %}Unit: {{ datos.unit }}{% endif %}
                        {% if datos.unit_b %}Unit_b: {{ datos.unit_b }}{% endif %}
                        {% if datos.sv %}SV: {{ datos.sv }}{% endif %}
                        {% if datos.cv %}CV: {{ datos.cv }}{% endif %}
                        {% if datos.bw and datos.bw != '0' %}BW: {{ datos.bw }}M{% endif %}
                        {% if datos.wan and datos.wan != '0.0.0.0/0' %}WAN: {{ datos.wan }}{% endif %}
                        {% if datos.wanv6 and datos.wanv6 != '0.0.0.0/0' %}WANIPv6: {{ datos.wanv6 }}{% endif %}
                        {% if datos.asn %}ASN: {{ datos.asn }}{% endif %}
                        {% if datos.lbcpe %}LB CPE: {{ datos.lbcpe }}{% endif %}
                        {% if datos.lnnid %}LB NID: {{ datos.lnnid }}{% endif %}
                    </textarea>
                    <div class="button-container">
                        <button class="datos-button" onclick="copyToClipboard('dataTextArea')" aria-label="Copiar Datos">Copiar Datos</button>
                    </div>
                </div>
                <div class="copy-box">
                    <div class="title">Comandos Previos</div>
                    <textarea id="commandsTextArea" class="datos-textarea" readonly>

                        {% if datos.tipo_configuracion == "Modificacion" and datos.tipo_servicio == "VPLS" %}

                            bash
                            roci {{ datos.pe }}
                            configure private

                            show interfaces {{ datos.interface_pe }}.{{ datos.unit }} | display set | no

                            ==================================================================================
                            bash
                            roci {{ datos.pe_b }}
                            configure private

                            show interfaces {{ datos.interface_pe_b }}.{{ datos.unit_b }} | display set | no

                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}
                            bash
                            roci {{ datos.pe }}
                            configure private


                            show interfaces {{ datos.interface_pe }}.{{ datos.unit }} | display set | no
                            show | display set | match  {{ datos.interface_pe }}.{{ datos.unit }} | no
                            
                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}
                            bash
                            roci {{ datos.pe }}
                            configure private


                            show interfaces {{ datos.interface_pe }}.{{ datos.unit }} | display set | no
                            show | display set | match  {{ datos.interface_pe }}.{{ datos.unit }} | no

                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL" %}

                            bash
                            roci {{ datos.pe }}

                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}

                            bash
                            roci {{ datos.pe }}
                            configure private

                            show  interfaces  {{ datos.interface_pe }}.{{ datos.unit }}  | display set  | no-more
                            run show route  8.243.209.145 | no-more


                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL" %}

                            bash
                            roci {{ datos.pe }}

                            configure lag {{ datos.lag }}
                            info
                            exit
                            admin display-config | match {{ datos.interface_pe }}:{{ datos.sv }} context all
                            admin display-config | match {{ datos.IES }} context all

                            show qos sap-ingress | match CUSTOMER-{{ datos.bw }}
                            show router route-table    {{ datos.wan|first_valid_ip }}
                            configure qos sap-ingress xxx
                            info
                            exit

                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}

                            bash
                            roci {{ datos.pe }}
                            configure private

                            show  routing-instances {{ datos.vrf }}  | display set | match vrf  | no
                            show interfaces {{ datos.interface_pe }}.{{ datos.unit }} | display set | no
                            show | display set | match  {{ datos.interface_pe }}.{{ datos.unit }} | no
                            show  | display set | match {{ datos.rd }}
                            run show route table  {{ datos.vrf }}  {{ datos.wan|first_valid_ip }}

                        {% else %}
                            <!-- Aquí puedes agregar una condición por defecto o un mensaje de error -->
                            No se cumple ninguna condición.

                        {% endif %}
                    </textarea>
                    <div class="button-container">
                        <button class="datos-button" onclick="copyToClipboard('commandsTextArea')" aria-label="Copiar Comandos">Copiar Comandos</button>
                    </div>
                </div>
                <div class="copy-box">
                    <div class="title">Configuración de la Interfaz</div>
                    <textarea id="newCommandsTextArea" class="datos-textarea" readonly>

                        {% if datos.tipo_configuracion == "Modificacion" and datos.tipo_servicio == "VPLS" and datos.tipo_equipo == "JUNIPER" %}

                            PE {{ datos.pe }}
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }})"
                            ==================================================================================
                            PE {{ datos.pe_b }}
                            set interfaces {{ datos.interface_pe_b }} unit {{ datos.unit_b }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port_b }})"

                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}

                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }})"

                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}

                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }})"
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet policer input CUSTOMER-{{ datos.bw }}M
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet policer output CUSTOMER-{{ datos.bw }}M
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet6 policer input CUSTOMER-{{ datos.bw }}M
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet6 policer output CUSTOMER-{{ datos.bw }}M

                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL" %}

                            admin display-config | match {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }} context all
                            configure lag xxx
                            info
                            exit
                            show qos sap-ingress | match CUSTOMER-{{ datos.bw }}
                            configure qos sap-ingress xxx
                            info
                            exit
                            configure service ies xxx
                            interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}
                            description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }}"
                            sap xxxx
                            ingress qos xxx
                            egress agg-rate rate  {{ bw_lag_alcatel }}
                            exit all

                            admin display-config | match {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }} context all

                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}

                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }})"
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} vlan-tags outer 0x8100.{{ datos.sv }} inner 0x8100.{{ datos.cv }}
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet mtu 1500
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet filter input {{ datos.interface_pe }}.{{ datos.unit }}-inet-i
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet filter output {{ datos.interface_pe }}.{{ datos.unit }}-inet-e
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet policer input {{ datos.interface_pe }}.{{ datos.unit }}-in
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet address {{ datos.wan|first_valid_ip_with_mask }}
                        
                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}

                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }})"
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} bandwidth {{ bwjun }}
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} vlan-tags outer {{ datos.sv }} inner {{ datos.cv }}
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet rpf-check mode loose
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet filter input customer-cflow
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet filter output voice-output
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet policer input ratelimit-{{  bwjun }}
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet policer output ratelimit-{{  bwjun }}
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet address {{ datos.wan|first_valid_ip_with_mask }} preferred
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet6 rpf-check mode loose
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet6 filter input ipv6-customer-cflow
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet6 policer input ratelimit-{{  bwjun }}-IPV6
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} family inet6 policer output ratelimit-{{  bwjun }}-IPV6
                            set interfaces ae30 unit 180 family inet6 address {{ datos.wanv6|first_valid_ipv6_with_mask }}

                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "ALCATEL" %}

                            /configure service customer {{ datos.IES }} create
                            /configure service customer {{ datos.IES }} description "{{ datos.cliente }}"
                            /configure service ies {{ datos.IES }} customer {{ datos.IES }} create
                            /configure service ies {{ datos.IES }} no shutdown
                            exit
                            ###################################################################################
                            /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}  create
                            /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }})"
                            /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }} create sap lag-{{ datos.lag }}:{{ datos.sv }}.{{ datos.cv }} create
                            /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }} create sap lag-{{ datos.lag }}:{{ datos.sv }}.{{ datos.cv }} ingress qos XXXXXXXXXXXXXXXXXXXXX
                            /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }} create sap lag-{{ datos.lag }}:{{ datos.sv }}.{{ datos.cv }}   egress agg-rate rate {{ bw_lag_alcatel }}
                            /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}  address {{ datos.wan|first_valid_ip_with_mask }}
                            /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}  urpf-check mode loose
                            /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}  ip-mtu 1500
                            /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}   cflowd-parameters sampling unicast type interface
                            /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}   tos-marking-state trusted
                            /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}  ipv6 address {{ datos.wanv6|first_valid_ipv6_with_mask }}
                            /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}  enable-ingress-stats
                            /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }} no shutdown
                            exit

                        {% else %}
                            <!-- Aquí puedes agregar una condición por defecto o un mensaje de error -->
                            No se cumple ninguna condición.
                        {% endif %}
                    </textarea>
                    <div class="button-container">
                        <button class="datos-button" onclick="copyToClipboard('newCommandsTextArea')" aria-label="Copiar Nuevos Comandos">Copiar Nuevos Comandos</button>
                    </div>
                </div>
                <div class="copy-box">
                    <div class="title">Policers</div>
                    <textarea id="policersTextArea" class="datos-textarea" readonly>

                        {% if datos.tipo_configuracion == "Modificacion" and datos.tipo_servicio == "VPLS" %}
                            PE {{ datos.pe }}
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }})"

                            ==================================================================================

                            PE {{ datos.pe_b }}
                            set interfaces {{ datos.interface_pe_b }} unit {{ datos.unit_b }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port_b }})"


                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "VPN" %}

                            set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o scheduler-map GX-CUST-SCHEDULER-MAP-6Q
                            set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o shaping-rate {{ shaping_rate }}
                            set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o delay-buffer-rate {{delay_buffer_rate}}
                            set class-of-service interfaces {{ datos.interface_pe }} unit {{ datos.unit }} output-traffic-control-profile {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o

                            set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding bandwidth-limit {{ shaping_rate }}
                            set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding burst-size-limit {{burst_size_limit}}
                            set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in then discard

                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}

                            set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o scheduler-map GX-CUST-SCHEDULER-MAP-6Q
                            set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o shaping-rate {{ shaping_rate }}
                            set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o delay-buffer-rate {{delay_buffer_rate}}
                            set class-of-service interfaces {{ datos.interface_pe }} unit {{ datos.unit }} output-traffic-control-profile {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o
                            set class-of-service interfaces {{ datos.interface_pe }} unit {{ datos.unit }} rewrite-rules ieee-802.1 XMR-I
                            set class-of-service interfaces {{ datos.interface_pe }} unit {{ datos.unit }} rewrite-rules ieee-802.1 CUST-PSR->EX
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP from dscp 46
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then count EF.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then loss-priority low
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF_DSCP then forwarding-class EF
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP from dscp 34
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then count EF-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then loss-priority high
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term EF-DE_DSCP then forwarding-class EF-DE
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP from dscp 26
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then count AF-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then loss-priority low
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF_DSCP then forwarding-class AF
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP from dscp 18
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then count AF-DE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then loss-priority high
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term AF-DE_DSCP then forwarding-class AF-DE
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term VPN-BE from dscp 10
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term VPN-BE then count VPN-BE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term VPN-BE then loss-priority high
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term VPN-BE then forwarding-class VPN-BE
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE then count BE.rx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-i
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE then loss-priority high
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-i term BE then forwarding-class BE
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term EF_DSCP from dscp 46
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term EF_DSCP then count EF.tx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-e
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term EF-DE_DSCP from dscp 34
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term EF-DE_DSCP then count EF-DE.tx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-e
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term AF_DSCP then count AF-DE.tx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-e
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term AF-DE_DSCP from dscp 18
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term AF-DE_DSCP then count AF-DE.tx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-e
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term AF_DSCP from dscp 26
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term VPN-BE from dscp 10
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term VPN-BE then count VPN-BE.tx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-e
                            set firewall family inet filter {{ datos.interface_pe }}.{{ datos.unit }}-inet-e term BE then count BE.tx-{{ datos.interface_pe }}.{{ datos.unit }}-inet-e
                            set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in logical-interface-policer
                            set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding bandwidth-limit {{ shaping_rate }}
                            set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding burst-size-limit {{burst_size_limit}}
                            set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in then discard

                            set routing-instances {{ datos.vrf }} interface {{ datos.interface_pe }}.{{ datos.unit }}

                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "ADI" and datos.tipo_equipo == "JUNIPER" %}

                            set firewall policer ratelimit-{{  bwjun }} logical-interface-policer
                            set firewall policer ratelimit-{{  bwjun }} if-exceeding bandwidth-limit {{  bwjun }}
                            set firewall policer ratelimit-{{  bwjun }} if-exceeding burst-size-limit {{  burst_size_limit }}
                            set firewall policer ratelimit-{{  bwjun }} then discard
                            set firewall policer ratelimit-{{  bwjun }}-IPV6 logical-interface-policer
                            set firewall policer ratelimit-{{  bwjun }}-IPV6 if-exceeding bandwidth-limit {{  bwjun }}
                            set firewall policer ratelimit-{{  bwjun }}-IPV6 if-exceeding burst-size-limit {{  burst_size_limit }}
                            set firewall policer ratelimit-{{  bwjun }}-IPV6 then discard

                        {% else %}
                                <!-- Aquí puedes agregar una condición por defecto o un mensaje de error -->
                                No se cumple ninguna condición.
                        {% endif %}

                    </textarea>
                    <div class="button-container">
                        <button class="datos-button" onclick="copyToClipboard('policersTextArea')" aria-label="Copiar Policers">Copiar Policers</button>
                    </div>
                </div>
                <div class="copy-box">
                    <div class="title">Bgp</div>
                    <textarea id="BgpTextArea" class="datos-textarea" readonly>

                        {% if datos.tipo_configuracion == "Modificacion" and datos.tipo_servicio == "VPLS" %}
                            PE {{ datos.pe }}
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }})"

                            ==================================================================================

                            PE {{ datos.pe_b }}
                            set interfaces {{ datos.interface_pe_b }} unit {{ datos.unit_b }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port_b }})"


                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "VPN" %}

                            set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o scheduler-map GX-CUST-SCHEDULER-MAP-6Q
                            set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o shaping-rate {{ shaping_rate }}
                            set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o delay-buffer-rate {{delay_buffer_rate}}
                            set class-of-service interfaces {{ datos.interface_pe }} unit {{ datos.unit }} output-traffic-control-profile {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o

                            set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding bandwidth-limit {{ shaping_rate }}
                            set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding burst-size-limit {{burst_size_limit}}
                            set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in then discard

                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}

                        show routing-instances {{ datos.vrf }} protocols bgp | display set  | match type
                        #
                        #
                        set routing-instances {{ datos.vrf }} protocols bgp group external type external
                        set routing-instances {{ datos.vrf }} protocols bgp group external family inet unicast
                        set routing-instances {{ datos.vrf }} protocols bgp group external export bgp-export-policy
                        #
                        set routing-instances {{ datos.vrf }} protocols bgp group external neighbor {{ datos.wan|second_valid_ip }} peer-as {{ datos.asn }}
                        set routing-instances {{ datos.vrf }} protocols bgp group external neighbor {{ datos.wan|second_valid_ip }} as-override
                        show routing-instances {{ datos.vrf }} protocols bgp group external neighbor  {{ datos.wan|second_valid_ip }} | display set
                        #
                        #
                        set routing-instances {{ datos.vrf }} routing-options static route {{ datos.lbcpe }} next-hop {{ datos.wan|second_valid_ip }} tag 14
                        show routing-instances  {{ datos.vrf }} | display set | match  {{ datos.wan|second_valid_ip }}

                        
                        {% else %}
                                <!-- Aquí puedes agregar una condición por defecto o un mensaje de error -->
                                No se cumple ninguna condición.
                        {% endif %}

                    </textarea>
                    <div class="button-container">
                        <button class="datos-button" onclick="copyToClipboard('BgpTextArea')" aria-label="Copiar Bgp">Copiar Bgp</button>
                    </div>
                </div>
                <div class="copy-box">
                    <div class="title">VRF</div>
                    <textarea id="VRFTextArea" class="datos-textarea" readonly>

                        {% if datos.tipo_configuracion == "Modificacion" and datos.tipo_servicio == "VPLS" %}
                            PE {{ datos.pe }}
                            set interfaces {{ datos.interface_pe }} unit {{ datos.unit }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }})"

                            ==================================================================================

                            PE {{ datos.pe_b }}
                            set interfaces {{ datos.interface_pe_b }} unit {{ datos.unit_b }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port_b }})"


                        {% elif datos.tipo_configuracion == "Ampliacion" and datos.tipo_servicio == "VPN" %}

                            set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o scheduler-map GX-CUST-SCHEDULER-MAP-6Q
                            set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o shaping-rate {{ shaping_rate }}
                            set class-of-service traffic-control-profiles {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o delay-buffer-rate {{delay_buffer_rate}}
                            set class-of-service interfaces {{ datos.interface_pe }} unit {{ datos.unit }} output-traffic-control-profile {{ datos.interface_pe }}.{{ datos.unit }}-{{ BWx1024 }}-o

                            set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding bandwidth-limit {{ shaping_rate }}
                            set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in if-exceeding burst-size-limit {{burst_size_limit}}
                            set firewall policer {{ datos.interface_pe }}.{{ datos.unit }}-in then discard

                        {% elif datos.tipo_configuracion == "Alta" and datos.tipo_servicio == "VPN" and datos.tipo_equipo == "JUNIPER" %}

                        show  routing-instances {{ datos.vrf }}  | display set | no

                        set routing-instances {{ datos.vrf }} description "{{datos.cliente}}"
                        set routing-instances {{ datos.vrf }} instance-type vrf
                        set routing-instances {{ datos.vrf }} interface {{ datos.interface_pe }}.{{ datos.unit }}
                        set routing-instances {{ datos.vrf }} route-distinguisher {{ datos.rd }}
                        set routing-instances {{ datos.vrf }} vrf-import {{ datos.vrf }}-import
                        set routing-instances {{ datos.vrf }} vrf-export {{ datos.vrf }}-export
                        set routing-instances {{ datos.vrf }} vrf-table-label
                        set routing-instances {{ datos.vrf }} routing-options maximum-prefixes 5000
                        set routing-instances {{ datos.vrf }} routing-options maximum-prefixes threshold 95
                        set routing-instances {{ datos.vrf }} routing-options maximum-prefixes threshold 95
                        set routing-instances {{ datos.vrf }} routing-options router-id {{ datos.wan|first_valid_ip }}
                        set routing-instances {{ datos.vrf }} routing-options auto-export
                        set policy-options policy-statement {{ datos.vrf }}-export term MON-MNG-Policy from protocol static
                        set policy-options policy-statement {{ datos.vrf }}-export term MON-MNG-Policy from policy MON-MNG
                        set policy-options policy-statement {{ datos.vrf }}-export term MON-MNG-Policy then accept
                        set policy-options policy-statement {{ datos.vrf }}-export term bgp-static-direct-export-RT from protocol bgp
                        set policy-options policy-statement {{ datos.vrf }}-export term bgp-static-direct-export-RT from protocol static
                        set policy-options policy-statement {{ datos.vrf }}-export term bgp-static-direct-export-RT from protocol direct
                        set policy-options policy-statement {{ datos.vrf }}-export term bgp-static-direct-export-RT then community add RT-{{ datos.vrf }}_export
                        set policy-options policy-statement {{ datos.vrf }}-export term bgp-static-direct-export-RT then accept
                        set policy-options policy-statement {{ datos.vrf }}-export term reject-all then reject
                        set policy-options policy-statement {{ datos.vrf }}-import term import from community RT-{{ datos.vrf }}_import
                        set policy-options policy-statement {{ datos.vrf }}-import term import from community RT-gestion_col
                        set policy-options policy-statement {{ datos.vrf }}-import term import from community RT-gestion_ecu
                        set policy-options policy-statement {{ datos.vrf }}-import term import then accept
                        set policy-options policy-statement {{ datos.vrf }}-import term reject-all then reject
                        set policy-options community RT-{{ datos.vrf }}_export members target:{{ datos.rd }}
                        set policy-options community RT-{{ datos.vrf }}_import members target:{{ datos.rd }}
                        
                        {% else %}
                                <!-- Aquí puedes agregar una condición por defecto o un mensaje de error -->
                                No se cumple ninguna condición.
                        {% endif %}

                    </textarea>
                    <div class="button-container">
                        <button class="datos-button" onclick="copyToClipboard('VRFTextArea')" aria-label="Copiar VRF">Copiar VRF</button>
                    </div>
                </div>
                <div class="button-container">
                    <button class="datos-button" onclick="window.location.href='{% url 'datos' %}'" aria-label="Regresar">Regresar</button>
                </div>
            </main>
        </div>
        
        <script>

            document.addEventListener('DOMContentLoaded', function() {
                var dataTextArea = document.getElementById('dataTextArea');
                var lines = dataTextArea.value.split('\n');
                var filteredLines = lines.filter(function(line) {
                    return line.trim() !== '' && line.trim() !== 'WAN: 0.0.0.0/0';
                });
                dataTextArea.value = filteredLines.join('\n');
            });
            function copyToClipboard(elementId) {
                var copyText = document.getElementById(elementId);
                copyText.select();
                copyText.setSelectionRange(0, 99999); // Para dispositivos móviles
                document.execCommand("copy");
                alert("Texto copiado: " + copyText.value);
            }
        </script>
    </body>
</html>
