/configure service customer {{ datos.IES }} create
/configure service customer {{ datos.IES }} description "{{ datos.cliente }}"
/configure service ies {{ datos.IES }} customer {{ datos.IES }} create
/configure service ies {{ datos.IES }} no shutdown
exit
#####

{% if "SUBA" in datos.bundle_ether|strip or "CXV" in datos.bundle_ether|strip %}

    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }}  create
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }})"
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }} create sap lag-{{num_puertos_lag}}:{{ datos.cv }}.{{ datos.cv }} create
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }} create sap lag-{{num_puertos_lag}}:{{ datos.cv }}.{{ datos.cv }} ingress qos XXXXXXXXXXXXXXXXXXXXX
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }} create sap lag-{{num_puertos_lag}}:{{ datos.cv }}.{{ datos.cv }}   egress agg-rate rate {{ bw_lag_alcatel }}
    

    {% if datos.wan|mask == '31' %}/configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }}  address {{ datos.wan }}{% endif %}
    {% if datos.wan|mask != '31' %}/configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }}  address {{ datos.wan|first_valid_ip_with_mask }}{% endif %}

    


    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }}  urpf-check mode loose
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }}  ip-mtu 1500
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }}   cflowd-parameters sampling unicast type interface
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }}   tos-marking-state trusted
    {% if datos.wanv6|maskv6 == '127' %}{% if datos.wanv6 and datos.wanv6 != '2806:281::/32' %}/configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }}  ipv6 address {{ datos.wanv6}}{% endif %}{% endif %}
    {% if datos.wanv6|maskv6 != '127' %}{% if datos.wanv6 and datos.wanv6 != '2806:281::/32' %}/configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }}  ipv6 address {{ datos.wanv6|first_valid_ipv6_with_mask }}{% endif %}{% endif %}
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }}  enable-ingress-stats
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.cv }}.{{ datos.cv }} no shutdown
    exit

    PE {{ datos.pe_vpls_a }}
    set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} description "CUSTOMER:{{ datos.cliente }} (CFS:{{ datos.cfs }}) (RFS:{{ datos.rfs_ip_port }})"
    set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} encapsulation vlan-vpls
    {% if datos.sv == datos.cv %}set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} vlan-id {{ datos.cv }} {% endif %}
    {% if datos.sv != datos.cv %}set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} vlan-tags outer 0x8100.{{ datos.cv }} inner 0x8100.{{ datos.cv }}{% endif %}
    {% if datos.sv == datos.cv %}set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} input-vlan-map pop {% endif %}
    {% if datos.sv != datos.cv %}set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} input-vlan-map pop-pop{% endif %}
    {% if datos.sv == datos.cv %}set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} output-vlan-map push {% endif %}
    {% if datos.sv != datos.cv %}set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} output-vlan-map push-push{% endif %}
    set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} family vpls filter input {{ datos.interface_pe_vpls_a }}.{{ datos.cv }}-cos-i
    set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} family vpls filter output {{ datos.interface_pe_vpls_a }}.{{ datos.cv }}-vpls-e
    set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} family vpls policer input {{ datos.interface_pe_vpls_a }}.{{ datos.cv }}-cir-in
    
   
    PE {{ datos.pe_vpls_b }}
    set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }})"
    set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} encapsulation vlan-vpls
    {% if datos.sv == datos.cv %}set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} vlan-id {{ datos.cv }} {% endif %}
    {% if "mesc20.baq.baq"  in datos.sw|strip %}
        {% if datos.sv != datos.cv %}set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} vlan-tags outer 0x8100.{{ datos.sv }} inner 0x8100.{{ datos.cv }}{% endif %}
    {% else %}
        {% if datos.sv != datos.cv %}set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} vlan-tags outer 0x8100.{{ datos.cv }} inner 0x8100.{{ datos.cv }}{% endif %}
    {% endif %}
    {% if datos.sv == datos.cv %}set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} input-vlan-map pop {% endif %}
    {% if datos.sv != datos.cv %}set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} input-vlan-map pop-pop{% endif %}
    {% if datos.sv == datos.cv %}set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} output-vlan-map push {% endif %}
    {% if datos.sv != datos.cv %}set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} output-vlan-map push-push{% endif %}
    set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} family vpls filter input {{ datos.interface_pe_vpls_b }}.{{ datos.cv }}-cos-i
    set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} family vpls filter output {{ datos.interface_pe_vpls_b }}.{{ datos.cv }}-vpls-e
    set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} family vpls policer input {{ datos.interface_pe_vpls_b }}.{{ datos.cv }}-cir-in    
    
{% else  %}
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}  create
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }})"
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }} create sap lag-{{num_puertos_lag}}:{{ datos.sv }}.{{ datos.cv }} create
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }} create sap lag-{{num_puertos_lag}}:{{ datos.sv }}.{{ datos.cv }} ingress qos XXXXXXXXXXXXXXXXXXXXX
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }} create sap lag-{{num_puertos_lag}}:{{ datos.sv }}.{{ datos.cv }}   egress agg-rate rate {{ bw_lag_alcatel }}
    

    {% if datos.wan|mask == '31' %}/configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}  address {{ datos.wan }}{% endif %}
    {% if datos.wan|mask != '31' %}/configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}  address {{ datos.wan|first_valid_ip_with_mask }}{% endif %}
 
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}  urpf-check mode loose
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}  ip-mtu 1500
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}   cflowd-parameters sampling unicast type interface
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}   tos-marking-state trusted
    {% if datos.wanv6|maskv6 == '127' %}{% if datos.wanv6 and datos.wanv6 != '2806:281::/32' %}/configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}  ipv6 address {{ datos.wanv6}}{% endif %}{% endif %}
    {% if datos.wanv6|maskv6 != '127' %}{% if datos.wanv6 and datos.wanv6 != '2806:281::/32' %}/configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}  ipv6 address {{ datos.wanv6|first_valid_ipv6_with_mask }}{% endif %}{% endif %}
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}  enable-ingress-stats
    /configure service ies {{ datos.IES }} interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }} no shutdown
    exit
{% endif %}