{% load custom_filters %}
{% load network_filters %}

configure service ies xxx
interface {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }}
description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }}"
sap xxxx
ingress qos xxx
egress agg-rate rate  {{ bw_lag_alcatel }}
exit all

admin display-config | match {{ datos.interface_pe }}:{{ datos.sv }}.{{ datos.cv }} context all

    {% if "SUBA" in datos.bundle_ether|strip or "CXV" in datos.bundle_ether|strip %}

    ##                           
    PE {{ datos.pe_vpls_a }}
    ##
    bash
    r {{ datos.pe_vpls_a }}
    configure private

    set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} description "CUSTOMER:{{ datos.cliente }} (CFS:{{ datos.cfs }}) (RFS:{{ datos.rfs_ip_port }})"
    set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} encapsulation vlan-vpls
    {% if datos.sv == datos.cv %}set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} vlan-id {{ datos.cv }} {% endif %}
    {% if datos.sv != datos.cv %}set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} vlan-tags outer 0x8100.{{ datos.cv }} inner 0x8100.{{ datos.cv }}{% endif %}
    {% if datos.sv == datos.cv %}set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} input-vlan-map pop {% endif %}
    {% if datos.sv != datos.cv %}set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} input-vlan-map pop-pop{% endif %}
    {% if datos.sv == datos.cv %}set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} output-vlan-map push {% endif %}
    {% if datos.sv != datos.cv %}set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} output-vlan-map push-push{% endif %}
    set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} family vpls filter input {{ datos.interface_pe_vpls_a }}.{{ datos.cv }}-cos-i
    set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} family vpls filter output {{ datos.interface_pe_vpls_a }}.{{ datos.cv }}-vpls-e
    set interfaces {{ datos.interface_pe_vpls_a }} unit {{ datos.cv }} family vpls policer input {{ datos.interface_pe_vpls_a }}.{{ datos.cv }}-cir-in
    

    PE {{ datos.pe_vpls_b }}
    set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} description "CUSTOMER:{{ datos.cliente }}(CFS:{{ datos.cfs }})(RFS:{{ datos.rfs_ip_port }})"
    set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} encapsulation vlan-vpls
    {% if datos.sv == datos.cv %}set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} vlan-id {{ datos.cv }} {% endif %}
    {% if "mesc20.baq.baq"  in datos.sw|strip %}
        {% if datos.sv != datos.cv %}set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} vlan-tags outer 0x8100.{{ datos.sv }} inner 0x8100.{{ datos.cv }}{% endif %}
    {% else %}
        {% if datos.sv != datos.cv %}set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} vlan-tags outer 0x8100.{{ datos.cv }} inner 0x8100.{{ datos.cv }}{% endif %}
    {% endif %}
    {% if datos.sv == datos.cv %}set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} input-vlan-map pop {% endif %}
    {% if datos.sv != datos.cv %}set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} input-vlan-map pop-pop{% endif %}
    {% if datos.sv == datos.cv %}set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} output-vlan-map push {% endif %}
    {% if datos.sv != datos.cv %}set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} output-vlan-map push-push{% endif %}
    set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} family vpls filter input {{ datos.interface_pe_vpls_b }}.{{ datos.cv }}-cos-i
    set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} family vpls filter output {{ datos.interface_pe_vpls_b }}.{{ datos.cv }}-vpls-e
    set interfaces {{ datos.interface_pe_vpls_b }} unit {{ datos.cv }} family vpls policer input {{ datos.interface_pe_vpls_b }}.{{ datos.cv }}-cir-in    
    
{% endif  %}