
{% load custom_filters %}
{% load network_filters %}


{% if "edge" in datos.pe|strip %}

    bash
    roci {{ datos.pe }}
    configure private

    show  routing-instances {{ datos.vrf }}  | display set | match vrf  | no
    show interfaces {{ datos.interface_pe }}.{{ datos.unit }} | display set | no
    show | display set | match  {{ datos.interface_pe }}.{{ datos.unit }} | no
    show  | display set | match {{ datos.rd }}
    run show route table  {{ datos.vrf }}  {{ datos.wan|first_valid_ip }}

{% else %}

    ssh -l EA-CO11455 {{ datos.pe }}
    #
    #
    #
    configure private

    show  routing-instances {{ datos.vrf }}  | display set | match vrf  | no
    show interfaces {{ datos.interface_pe }}.{{ datos.unit }} | display set | no
    show | display set | match  {{ datos.interface_pe }}.{{ datos.unit }} | no
    show  | display set | match {{ datos.rd }}
    run show route table  {{ datos.vrf }}  {{ datos.wan|first_valid_ip }}

    {% if datos.interface_pe == "ge-0/1/8"  %} 
        ##
        ##
        ##
        show  routing-instances {{ datos.vrf2 }}  | display set | match vrf  | no
        show interfaces ge-0/1/9.{{ datos.unit }} | display set | no
        show | display set | match  ge-0/1/9.{{ datos.unit }} | no
        show  | display set | match {{ datos.rd2 }}
        run show route table  {{ datos.vrf2 }}  {{ datos.wan|second_valid_ip }}
    {% endif %}
{% endif %}